<server>
    <connection>
        <value name="host">localhost</value>
        <value name="port">25535</value>
        <value name="backlog_size">10</value>
        <value name="max_connections">20</value>
    </connection>

    <security>
        <value name="key_store">key.jks</value>
    </security>
</server>